@font-face {
	font-family: HelveticaNeue;
	src: url(fonts/HelveticaNeue-Light.otf);
}

html,body{
	background-color: #28253b;
	margin: 0;
	font-family: HelveticaNeue;
	height: 100%;
	color: white;
}

.navbar{
	box-shadow: 0 1px 20px 0px rgba(0,0,0,.4);
	height: 70px;
	margin-left: 0px;
	color: white;
	padding: 15px 50px 15px 50px;
}

.menu{
	padding-left: 140px;
	display: inline;
}

#login:hover, 
#signup:hover{
	color: #60c1a3;
}

.logo{
	font-size: 48px;
	display: inline;
}

.modal{
	display: block;
	position: fixed;
	z-index: 5;
	left: 30%;
	top: 25%;
	width: 40%;
	height: 60%;
	overflow: auto;
	background-color: white;
	border-radius: 0 0 25px 25px;
	box-shadow: 0 20px 20px 20px rgba(0,0,0,.4);
}

.modal-content{
	color: black;
	padding: 20px 40px 40px 40px;
	height: 100%;
}


.header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #60c1a3;
	height: 15%;
	width: 100%;
	font-size: 30px;
}